/*$body-bg:#333;
$font-color:#fff;
$primary-color:#008ed6;
*/

body{
	margin-top:90px;
}


html{scroll-behavior: smooth;}

.navbar{
 
	box-shadow:2px 2px 5px #3292a6;
	background:#fff;
	opacity:0.9;
}

.nav-item{
	font-size:1.4rem;
   padding-right:20px;

}

.nav-item:last-child{
	padding-right:0;
}

.nav-link{
	color:#252525;
}

.nav-link:hover{
	color:#48dbfb;
}


section#showcase {
    background-image: linear-gradient(45deg, #14619a, #3a19798a),url(image/hasan.jpg);
    min-height:600px;
    position: relative;
}
 

.primary-overlay{
	background:rgba(50,146,156,0.7);
	min-height:600px;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}



#subscribe{
	background:#252525;
}


#authors img{
	margin-top:-60px;
}


#authors .card:hover{
	background:#48dbfb;
	color:#fff;
	transition:0.9s;
}

#authors .card:hover .fa{
	color: #fff;
}

#authors .card .fa{
    color: #48dbfb;
	font-size:25px;
}
 

/*:first-child(1){font-style: italic;}*/









@media(max-width:576px){
	#showcase h1{
         font-size:3rem;
	}
}