body{margin:0;padding:0;}

html{scroll-behavior: smooth;}

/*Universal Design */

.section_title {text-align:center;display:block;font-family:Audiowide;padding:30px;position:relative;}

.section_title::before {content:"";position:absolute;width:80px;height:3px;background-color:orange;bottom:0;left: calc(50% - 40px);}

.section_title::after {content:"";position:absolute;width:10px;height:8px;background-color:#c51313;bottom:-4px;left: calc(52% - 33px);
    border: 2px solid #ddd;}

/*End Universal Design*/

.navbar{position:fixed;display:flex;justify-content:center;align-items:center;flex-direction:row;flex-wrap:wrap;
	background-color:#ddd;width:100%;height:70px;z-index:1;}


.nav{display:flex;justify-content:right;list-style:none;margin-right:15%;}

.logo{flex: 1 1 auto;margin-left:10%;text-transform:uppercase;letter-spacing:1px;font-weight:bold;font-size:35px;}

a{margin:15px;color:#000;text-decoration:none;text-transform:uppercase;}


a:hover{color:#000;}

.banner-area{position:relative;background-image:linear-gradient(#e51616c4,#79332e52),url(3.jpg);width:100%;height:100vh;
	background-repeat:no-repeat;-webkit-background-size:cover;
background-attachment:scroll;}

.banner-area h2{position:absolute;top:60%;left:50%;transform:translate(-50%,-50%);border:1px solid #122d55;background:#48dbfb;
padding:9px;border-radius:8px;font-size:14px;}

.banner-area p{position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);color: #ffff;font-size:19px;}

.banner-area h2:hover{background:#48dbfb;border:1.2px solid orange;color:white;text-decoration:underline;color:red;}



/*start About Section*/

.about-area{background-image:linear-gradient(#18c2e7d9,#698caf),url(team.jpg);background-attachment:fixed;background-size:100%;
background-position:center 50%;margin:-57px 0px;overflow:hidden;padding:50px 40px;}

.about-area p{width:80%;text-align: left;margin-left:15%;}

.about-area h1{text-align: center;color:#ddd;font-family:arial black;opacity:5;}

.about-area h1 span{color:orange;}

.block{width:600px;padding:20px;text-align:center;margin:auto;margin-top:22px;margin-bottom:55px;}

.dolllersign h1{background:#18c2e7;border-radius:12px;width:130px;margin:auto;padding:10px 10px;}

.title{font-style:arial black;margin-bottom:20px;font-size:12px;color:#ccc}


.article{text-shadow:2px;text-align: left;text-align-last:justify;text-align:-webkit-auto;
	height:-webkit-fill-available;-webkit-text-stroke-width: medium;}
/*End About Section*/
/* start Blog Content section*/
.blog-area{width:100%;background-color:#ddd;padding-bottom:40px;}

.posts{max-width:1200px;margin:auto;overflow:hidden;}

.post{width:40%;background:#f1f1f1;color:#123;overflow:hidden;margin:22px;
	border-radius:6px;box-shadow: 0 0 10px #e7d6d6;float: left;transition:.3s;}

.post img{width:100%;height:255px;}

.post img:hover{opacity:.8}
.post h2{margin:10px 10px;padding:2px 4px;text-align: center;}

.post p{margin:0;margin-bottom:10px;text-align:justify;padding:0 10px;}

/* End Blog content section*/
/*START Service Section*/
.service_section_allBlocks{background-color:#123;font-family:sans-serif;}
.header{text-align: center;font-style:italic;font-size:40px;color:#ddd;}
.header span{color:orange;}
.blocks{margin:50px 50px 50px 50px;background:#30bae7;padding:50px;border:1px solid orange;max-width:200px;height:270px;
text-align:center;display:inline-block;border-radius:5px;transition: all .9s;overflow:hidden;justify-content:center;align-items:center;}

.blocks:nth-child(1){margin:50px 50px 50px 50px;background:#30bae7;padding:50px;border:1px solid orange;max-width:200px;height:250px;
		text-align:center;display:inline-block;border-radius:5px;transition: all .9s;}
.blocks p{font-size:15px;}
    
.blocks:hover{background:transparent;color:white;cursor: pointer;transform: translateY(-20px);}

.blocks:hover .dollerSign{color:#123;background:orange;}

.dollerSign{color:orange;background:#273a71;padding:20px 35px 20px 35px;border-radius:4px;}
	
#AmarTitle{padding:30px 0px 20px 0px;}
    
#AmarTitle p{font-family:arial black;font-size:15px;justify-content: space-between;}
/*End Service Section*
/*Contact_Section */
/* START CONTACT  SECTION */
.contact-section {background:#333;text-align: center;margin-top:-23px;}
.contact-section h2::after{background:#273a71;}
.contact-section h2{padding-top:3rem;padding-bottom:1rem;font-weight:700;color:#ddd;}
.contact-section p{color: #ddd;}
.border{border:0.1rem solid #ddd;width:0.1rem;}
.contact-section form{margin-top:2rem;max-width:50%;margin-left:28%;}
.contact-section input[type="text"],
.contact-section input[type="email"]{background:#30bae7;border:.1rem solid #30bae7;width:100%;padding:1rem;border-radius:.5rem;
	font-size:1rem;margin:.5rem 0;color:#123;font-family:initial;font-size:14px;font-weight:800;box-shadow:0 0.4rem 0.1rem 0 rgba(0,0,0.6,0.3);}

.contact-section textarea{background:#30bae7;border:.1rem solid #123;width:100%;padding:1rem;border-radius:.5rem;
	font-size:1.4rem;margin:.8rem 0;color:#123;box-shadow:0 -0.1rem 0.1rem 0 rgba(0,0,0.6,0.5);}

.contact-section form ::placeholder{color:#123;opacity:1;}
.contact-section textarea {height: 5rem;}
.btn{background:#30bae7;width:8rem;height:3rem;margin:2rem;outline:none;border:none;border-radius:0.9rem;
	box-shadow:0.1rem 0.2rem 0.2rem #b6a9a9, -0.2rem 0rem 0.6rem #123;transition:0.2;}
.btn:hover{cursor: pointer;transform: scale(1.1);}
.btn:hover::before{content: ""; position: absolute;height:50%;width:50%;transform: translate(-50%,-50%);}

/*END CONTACT SECTION */
/*START FOOTER SECTION */

.footer-section{background:#fff;text-align:center;border-top:.1rem solid #4df30bf0;padding:3rem 0;}
.footer-section li{display: inline-block;margin:0 2rem;}
.footer-section li a{color:black;text-decoration:none;text-transform:capitalize;font-size:1.3rem;}
.footer-section li:hover a{color:red;border-bottom:.1px solid orange;transition:all .4s;padding-bottom:10px;font-size:1.2rem}

/* END FOOTER SECTION */
/*Respomsive Design */

@media (max-width:980px){
	.logo{display:none;}
}

@media only screen and (max-width: 768px){

     .banner-area{background-position:left center;}
	.footer-section li a{width:50%;line-height:3rem;}

	.contact-section p {
    width:50%;
    margin-left:14rem;
    line-height: 1.5rem;
    font-size: 12px;}

	.contact-section h2{margin-left:3rem;}
	
	.banner-area{background-position:55%;background-size:135%;}
	.banner-area p{color: #ffff;font-size:14px;width:87%;}
	.block{width:350px;}
	.blocks{margin: 50px 87px 0px 180px;}
    .blocks:nth-child(7){margin-bottom:66px;}
    .post{text-align: center;}
	.post p{font-size:17px;}
	.posts{padding:40px;}
    .post {width: 80%;background: #f1f1f1;color: #123;overflow: hidden;border-radius: 6px;box-shadow: 0 0 10px #e7d6d6;
		    float: left;transition: .3s;margin: 30px 25px 0px 49px;
      }
	
}

@media only screen and (max-width:668px){
	.navbar{position:fixed;display:flex;justify-content:center;align-items:center;flex-direction:row;flex-wrap:wrap;
	           background-color:#ddd;width:100%;height:50px;z-index:1;}
	.nav{margin-right:8%;}
	.banner-area{background-position:55%  30%;background-size:222%;}

.posts{padding:40px;}

.post {width:80%;background:#f1f1f1;color:#123;overflow:hidden;border-radius:6px;box-shadow:0 0 10px #e7d6d6;float:left;
    transition: .3s;margin: 30px 25px 0px 49px;}

.blocks{margin: 43px 45px 1px 89px;}

.contact-section p{width:79%;text-align:center;margin-left:6rem;line-height:1.5rem;}

.contact-section h2{margin-left:2.5rem;}
}




