*{margin:9;padding:0;}

body{font-family:cursive;background:#eee;margin:0;padding:0;}

html{font-size:10px;}



section {padding:50px;}

.header_section{width:100%;height:65vh;background:linear-gradient(5deg,#ddd,#fff);position:relative;}

.topper{position: absolute;left:20%;top: 0;width:300px;}

.left_side {margin-top:-45px;}

.left_side h1 {font-size:55px;color:orange;}


.left_side h4 {font-size: 24px;margin-top: -64px;color: #fb11a9;}


.right_side{position: absolute;right: -250%;top: 0;display: inline-flex;margin-top:22px;}

button.btn{right:-232%;padding:10px 11px;margin:10px;border-radius:23px;color:#123;position:relative;margin-top:-47px;}

button.btn:hover{background:#00BCD4;color:#000;text-align:center;text-decoration:underline;}

.right_side ul li a {padding:10px;font-size: 22px;display:inline-block;text-decoration:none;list-style:none;color:#123;}

.right_side ul {padding: 8px;margin: 0px;list-style:none;display:flex;padding:10px;}

.bottom_side {width: 400px;height: 100%;position: absolute;top: 46%;left: 19%;position: relative;}

.bottom_side h1 {font-size: 22px;margin-bottom: -5px}

.bottom_side span {font-size:24px;font-weight:600;margin-top: 0px;}


.bottom_side h4 {font-size: 11px;}

.bottom_side button {padding:10px;background:#4CAF50;border-radius:23px;border:1px solid;}

.star_icon {display:inline-flex;}

.icon {padding-left:18px;padding-top:4px;}
.image img {width:394px;height:250px;position:absolute;right:-134%;top:-3%;}

/*==================
  End  Header Section 
=================== */
/*==================
  Star  Security Section 
=================== */
.Security_Section{width:100%;height:55vh;position:relative;background:#9e9e9e66;color:black;}

.left_div{width:400px;position: absolute;left:20%;color:#123;}

.left_div h1{font-size:x-large;}

.left_div p{font-size:13px;font-weight:600;color:#111;}

.left_div h2{font-size:medium;}

.right_Div_image {position:absolute;right:20%;top:10%;}



.right_Div_image img{width:350px;height:340px;}

/*==================
  End  Security Section 
=================== */

/*<!-- ==================
  Start Feature Section 
=================== -->*/
.feature_Section{width:100%;height:55vh;position:relative;}

.left_side_image{left:20%;top:5%;position: absolute;}

.right_side_content{position: absolute;right:10%;top:5%;width:457px;}

.right_side_content h1{font-size:22px;font-weight:600;}

.right_side_content p{font-size:14px;}


.left_side_image{position: absolute;left: 20%;top: 10%;width:600px;}


.left_side_image img{width:500px;height:300px;}

/*<!-- ==================
  End Feature Section 
=================== -->*/
/*==================
Start Businees Section 
===================*/
.business_Section{position:relative;width:100%;height:55vh;background:#ddd; }


.content_Section{position:absolute;left:20%;top:10%;width:400px;}

.content_Section h1{font-size:22px;}

.content_Section p{font-size:14px;font-family:none;}

.content_Section button{padding:10px;background:green;color:#fff;border-radius:23px;}

.image_Section{position:absolute;top:10%;right:10%;}

.image_Section img{width:500px;height:300px;}

/*==================
End Businees Section 
===================*/
/*<!-- ==================
  Start Footer  Section 
=================== -->*/
.footer_Section{position:relative;width:100%;height:36vh;background:#123;color:#fff;}

.content{text-align: left;position:absolute;left:20%;top:2%;}

.content h1{font-size:70px;color:orange;}

.content h2{margin-top:-72px;color:#fb11a9;}

.content p{width:600px;}

.hasan{position: absolute;top:75%;left:20%;}

.hasan img{height:40px;width:40px;border-radius:50%;}

.hasan a{display: inline-flex;width:60px;height:60px;background:#2c3e50;color:white;margin:0 6px;
border-radius: 50%;justify-content: center;align-items: center;transition:0.4s;font-size:30px;text-decoration:none;}

.hasan a:nth-child(1):hover{background:#e67e22;}

.hasan a:nth-child(2):hover{background:#e67e22;}

.hasan a:nth-child(3):hover{background:green;}

.hasan a:nth-child(4):hover{background:red;}

.hasan a:nth-child(5):hover{background:#123;}

.hasan a i{transition: 0.4s all; }

.hasan a:hover > i {
	transform: scale(1.6) rotate(25deg);}

/*<!-- ==================
  End Footer  Section 
=================== -->*/

/*<!-- ==================
  Responsive  Section 
=================== -->*/

/*
@media (max-width:660px){


	.header_section {width: 100%;height:100vh;background: linear-gradient(5deg,#ddd,#fff);position:relative;}

	.topper {position:absolute;left:20%;top:0;width:334px;}

	.left_side {margin-top:-10%;position:absolute;margin-left:2%;}

	.right_side {position:absolute;display:flex;align-items:center;flex-wrap:wrap;margin-top:30%;left: -2%;}}

	.right_side button {margin-left:5px;border-radius:23px;color:#123;padding:11px;display:flex;}


     .right_side ul{display:grid;}

     .right_side ul li {font-size: 16px;}

	.bottom_side {width:400px;height:100%;position:absolute;top:69%;left:21%;}

	.image img {width:324px;height:228px;position:absolute;left:1%;top:-32%;}

	.Security_Section {height:100vh;position:relative;background:#9e9e9e66;color: black;}

	.right_Div_image {position:absolute;right:21%;top:-3%;}

	.right_Div_image img {width:338px;height:280px;margin-top:52px;}

    .left_div {max-width:400px;position:absolute;left:20%;color:#123;z-index:999;top:45%;display:flex;align-items:center;
    	flex-wrap: wrap;}
 
     .feature_Section{height:100vh;}

     .left_side_image{left: 18%;top: 5%;}

    .right_side_content{top:50%;position:absolute;right:10%;max-width: 441px;}



}*/