*{margin:0;padding:0;}


/*Start Header Section */

 .header_section{background: linear-gradient(rgba(17, 34, 51, 0.5),rgba(17, 34, 51, 0.3)) ,url(construction.jpg);
 	             background-repeat:no-repeat;background-size:cover;background-attachment:scroll;min-height:89vh;
 	             background-position:left top;padding-bottom:50px;margin-bottom:0px;position: relative;}


.content{color:#ddd;margin: auto;position:absolute;top:40%;left:25%;}

.content h2{text-transform:uppercase;padding-bottom:20px;font-family:arial}

.content h2 p{line-height:23px;font-size:17px;}

.content button{margin-top:50px;margin-bottom:5px;padding:15px;background:#123;border:none;outline:none;border-radius:2px;
	             color:#ddd;}

.content button:hover{background:#f7f7;border-radius:4px;}

.content h4{position:absolute;right:-8%;top:81%;font-size:14px;}


/*End Header Section */


/* start Our Services section*/

img{width:330px;height:300px;}

h3{font-size: 12px;padding-bottom:10px;}
h2{font-size:23px;}
.services-section {max-width:1380px;text-align:center;display:inline-block;background:#fff;overflow:hidden;padding-bottom:200px;padding-top:30px;}

.services-section h1{padding:10px;text-align: center;margin:auto;position: absolute;left:40%;margin-bottom:60px;
	                 font-size:34px;font-weight:700;color:black;}
.first_block{margin-top:80px;display:grid;grid-template-columns:auto auto;grid-gap:20px 50px;grid-column-start:1;
	         grid-column-end:4;max-width:100%;}
.left_side{float:left;margin-left:283px;text-align: left;padding:80px 0 0 20px;color:black;line-height:20px;}
.right_side img {float:right;margin-right: 386px;border:1px solid #f7f7f7;}
.second_block{display:grid;grid-template-columns:auto auto;grid-column-start:1;grid-column-end:4;max-width:100%;}
.second_left_side img{float:left;margin-left:300px;border:1px solid #f7f7f7;}
.second_right_side{float:right;width: 299px;margin-right: 372px;text-align: left;padding:80px 0 0 20px;color:black;
	              line-height:20px;}
.hasan{margin-top:-81px;}
.first_block,.second_block p{font-size:14px;}


/* End Our Services section*/
/*Start Team Section */
.p-sm a i img{width:15px;height:15px;}
.pe img{width:160px;height:160px;border:1px dashed orange;border-radius:50%;}
.pers:nth-child(1){width:100px;overflow: hidden;}
.team-section{background:purple;text-align:center;}
.inner-width{max-width:1200px;margin:auto;padding:40px;color:#ddd;overflow: hidden;}
.team-section h1{font-size: 20px;text-transform:uppercase;display: inline-block;
	border-bottom:4px solid;padding-bottom: 10px;}
.pe{float:left;width:(100% / 6);overflow:hidden;padding:40px 80px;margin:40px 40px 40px 40px;transition:all 0.8s;
box-shadow:inset 0px 0px 3px 0 rgba(255,255,255,1), inset 5px 7px 150px 0 rgba(0,0,0,0.3);border-radius:4px;}
.pe:hover{cursor:pointer;transform:translateY(-20px);}
.pe img{width:120px;height:120px;}
.p-name{margin:16px 0;text-transform: uppercase;font-family: arial black;font-size:17px;}
.p-des{font-style:italic;color:#3498db;}
.p-sm{margin-top:12px;background:#111;border-radius:23px;}
.p-sm a{margin:0 4px;display: inline-block;width:30px;height:30px;transition: 0.4s;}
.p-sm a:hover{transform:scale(1.3);}
.p-sm a i{color:#fff;line-height:30px;}
/*End Team Section */
/*Start Contact Section */
body{background:#333;color: #fff;}


.header{margin-left: 20px;margin-top: 50px;margin-bottom:20px;text-align: center;}

.form{background:#123;width:300px;margin-top:70px;margin-bottom:30px;margin-left:10px;text-align: center;margin:auto;
	  padding:20px;padding-bottom:0px;}

.form h5{margin-top:20px;text-align: left;padding-right: 10px;width:104px;}

.form input{border:none;outline:none;background:#123;padding: 10px;color: white;margin-left:20px;}

.header_content h1{text-transform:uppercase;font-style: italic;margin-left: 20px;margin-top: 80px;color:#fff1f1b8;}

.header_content h4{font-size:13px;margin-left:166px;margin-top:10px;color:#c7c6fb;}

#cointainer {max-width:800px;text-align: center;margin-left:200px;}
/*Commment_section*/
.comment_section{text-align:left;width: 300px;background:#123;margin-left:440px;padding:20px;border-radius:6px;}

.comment_section h3{margin-bottom:40px;text-align: center;}

.sub{margin-right: 20px;}

.comment{margin-right: 20px;}

.comment_section input{border:none;outline: none;background-color:#123;padding-left:30px;color:white;font-size:12px;
	                    display:inline-block;}

.comment_section input:hover{border-bottom:0.5px solid orange;font-size:12px;color:white;display: inline;}
/*button*/
.ahmed input{color:white;background-color:#0e0e0e;padding:5px;border:1px solid #655c4c;border-radius:5px;margin-top:25px;
	box-shadow:none;margin-left:555px;font-size:16px;}

.ahmed input:hover{background:#f7f7 !important;color:#123;}
/*terms*/
.terms{margin-left:439px;margin-top:15px;}

/*End Contact Section */


/*Responsive Design */

@media screen and(680px){
	.services-section{width:96%;}
}









/*

@media screen and(1080px){
	.services-section{width:50%;left:20%;margin:0px;font-size:22px;}
	.first_block{grid-gap:0px 0px;}
	.left_side{margin-left:10px;}
	.second_left_side img{margin-left:10px;}
}

@media screen and(max-width:885px){
	.pe {
    width: 190px;}

}

@media screen and (max-width: 680px){

	.pe{width:50%}
}*/