body{margin:0px;padding:0;background-color:#333;}


/*Start Header Section */

section{padding:50px 0px 0px 0px;margin-bottom:-100px;}



 .header_section{background: linear-gradient(rgba(17, 34, 51, 0.5),rgba(17, 34, 51, 0.3)) ,url(images/construction.jpg);
 	             background-repeat:no-repeat;background-size:cover;background-attachment:scroll;min-height:89vh;
 	             background-position:left top;padding-bottom:50px;margin-bottom:0px;position: relative;}


.content{color:#ddd;margin: auto;position:absolute;top:40%;left:25%;}

.content h2{text-transform:uppercase;padding-bottom: 23px;font-family:arial;}

.content h2 p{line-height:23px;font-size:17px;}

.content h4{position:absolute;left: 14%;top: 116%;font-size: 15px;}

.content button{background:#123;border:none;outline:none;border-radius:2px;left: -73px;top: 168px;}

.content button:hover{background:#f7f7;border-radius:4px;}

/*End Header Section */


/* start Our Services section*/

.posts{width:100%;max-width:100%;margin:auto;overflow:hidden;padding-bottom:77px;transition: all .9s;background-color:#ddd;}

.posts h3{text-align:center;margin-bottom:80px;position:relative;font-size:34px;
padding-bottom:20px;color:#111;position:relative;}

.posts h3 span{color:orange;}

h3.section_title {padding: 20px;font-size: 34px;}

.post{width:25%;background:#f1f1f1;color:#123;overflow:hidden;margin:-34px -10px 99px 50px;border-radius:6px;transition:all .2s;
	box-shadow:0 0 10px #e7d6d6;float:left;}

.post img{width:100%;height:255px;}

.post h2{margin:10px 10px;padding:2px 4px;text-align: center;}

.post p{margin:0;margin-bottom: 10px;text-align:justify;padding:0 10px;}

/* End Our Services section*/
/*Start Team Section */
.pe img{border:1px dashed orange;border-radius:50%;position: relative;margin: auto;}
.pers:nth-child(1){width:100px;overflow: hidden;}
.pers{display:flex;flex-wrap:wrap;}
.team-section{background:purple;text-align:center;padding-bottom:40px;}
.inner-width{max-width:1350px;margin:auto;padding:40px;color:#ddd;overflow: hidden;}

.inner-width h1{text-align:center;margin-bottom:80px;position:relative;font-size:34px;
padding-bottom:20px;color:#111;}

.inner-width h1 span{color:orange;}

.inner-width h1::before{content:"";position:absolute;width: 183px;height:4px;background-color: #F44336;bottom:6px;left: -4%;}

.inner-width h1::after{content:"";position:absolute;width:20px;height:10px;background-color:#f7f;left: 44%;bottom:3px;}

.team-section h1{font-size: 20px;text-transform:uppercase;display: inline-block;color: #fff;}
.pe{float:left;overflow:hidden;padding:40px 80px;margin:0px 5px 50px 40px;transition:all 0.8s;
	box-shadow:inset 0px 0px 3px 0 rgba(255,255,255,1), inset 5px 7px 150px 0 rgba(0,0,0,0.3);border-radius:4px;
	width: 16%;height: 245px;}

.pe:hover{cursor:pointer;transform:translateY(-20px);}

.pe img{width:120px;height:120px;position: relative;left:0%;}
.p-name{margin: 18px 0px 10px 1px;text-transform: uppercase;font-family: arial black;font-size:9px;text-align: center;position: relative;left: 2%;}
.p-des{font-style:italic;color:#3498db;position:relative;left: 6%;}
.p-sm{margin-top:12px;}
.p-sm a{margin:0 -45px;display: inline-block;width:30px;height:30px;transition: 0.4s;background:#eee;border-radius:23px;}
.p-sm a:hover{transform:scale(1.3);}
.p-sm a i{color:#333;line-height:30px;}
/*End Team Section */

/*======================**/
/*Start Contact Section */
/*========================**/

#cointainer {max-width:100%;text-align:center;background:#333;color:#fff;position:relative;padding: 40px 0px 0px 0px; }

#cointainer h2{text-align:center;position:relative;font-size:34px;padding-bottom:20px;color:#ddd;padding-top: 20px;}

#cointainer h2 span {color: orange;}

.header{margin: -2px 0px 96px 20px;padding:20px 0px 0px 0px;text-align:center;}


.header h3{position:absolute;top: 58%;left: 48%;}

.form{background:#123;max-width:282px;text-align:center;padding: 9px;padding-bottom: 0px;position:absolute;left:52%;
	top: 157%;transform:translate(-50%,-50%);box-shadow:-1px 0px 20px 0px #03a9f4; 
	}

.form input{border:none;outline:none;background:#123;padding: 10px;color: white;margin-left:20px;}

/*Commment_section*/

button {color:white;background-color:#0e0e0e;padding:12px;border:1px solid #e91e63;border-radius:5px;margin: 66px auto;position:absolute;left: 57%;
	top: 195%;font-size:16px;box-shadow:-1px 0px 5px 0px #ffc107; transition:all .4s linear;
	}

button:hover{background:#ce0befb3 !important;color:#fff;}

/*Social Media */


.social-media{position: absolute;bottom:-242%;left:0;right:0;margin:auto; padding:30px;}

.hasan{position:absolute;left:50%;top: 50%;transform:translate(-50%,-50%);}

.hasan a{text-decoration:none;color:white;font-size:23px;margin:10px;display:flex;width:40px;height:40px;border-radius:50%;
	justify-content: center;align-items: center;float: left;transition: 0.5s all;cursor: pointer;line-height:40px;}

.wp {background: #FFC107;}

.tw {background: #FF5722;}

.ms {background: #607d8b85;}

.fb {background: #673AB7;}

.yb {background: #009688;}

.an {background: #673AB7;}

.go {background: #009688;}

.hasan a:hover{margin-top:-6px}

/*========================*/
/*End Contact Section */
/*=========================*/
/*Responsive Design */
@media screen and (max-width:820px){}
.p-sm a {margin: 0 6px;}

}

@media screen and (max-width:768px){
	.post{width:58%;margin:10px -10px 30px 132px;}
	.pe{width:16%;margin: 0px 5px 50px 165px;}
	

	h3.section_title::after{left:35%;}


	.social-media{padding:80px;margin-top:60px;transition: all .4s;}


	.hasan a {display:inline-block;margin:20px;overflow:hidden;}

     .hasan{transform: translate(-0%,-0%);left: -1%;top: -98%;padding-top:40px;}



     .hasan a:nth-child(1),
     .hasan a:nth-child(2),
     .hasan a:nth-child(3),
     .hasan a:nth-child(4){margin:20px;clear:left;}

     
      .hasan a:nth-child(1):hover{background-color: #9c27b0;}
      .hasan a:nth-child(2):hover{background-color: #9c27b0;}
     .hasan a:nth-child(3):hover{background-color: #9c27b0;}
      .hasan a:nth-child(4):hover{background-color: #9c27b0;}
   
    

	
}


	@media (max-width: 680px){
		.post{width: 96%;margin:2%;}

		h3.section_title::after{margin-left:-39px;}


		.post {width:80%;margin: 7% 13%}

		.p-name{    margin: 18px -44px 13px -3px;    left: -5%;}

		.p-des{left:17%;}

		.pe{width:16%;margin:0px 5px 40px 200px;}

		button{ left:60%;top:226%;}

		.form{left:52%;top:182%;}

		.header h3{top: 63%;left: 42%;}


		.p-sm a {margin: 0 -46px;}
	}




	@media (max-width:620px){

           .pe{width:16%;margin:0px 5px 40px 73px;}

           .pe img{    left: -42%;}

           .p-name{left:-32%;}
           .p-des{margin-left: -27px;}
	}
