
*{margin:0;padding:0;}

body{font-family:sans-serif;margin:0;padding:0;}

html{scroll-behavior: smooth;}

section{margin:0;padding:0;}

.header_Section{width:100%;height:100vh;background:#1113;color:#f1f2f1;}

.inner_Section{display:flex;width:100%;}

.header_image img{width:100%;height:100%;background-size:cover;}

.content_Section {height:100%;width:50%;display:flex;flex-wrap:wrap;}

.content:nth-child(1){background: #fff;font-family:arial;padding:30px;color:#333;line-height:32px;width:100%;}

.content:nth-child(1) h1{color:#48dbfb;font-size: 23px;}

button.button {padding:8px 28px;margin:11px;border-radius:23px;background:#ddd;}

.button  a {text-decoration:none;font-size:16px;color:#123;text-transform:uppercase;}

.content.design {display:block;width:100%;padding:40px 29px;background:#111111ad;}

.content.design:nth-child(2){background:#333333b3;}

.content.design h2 {font-size: 19px;padding-bottom: 20px;}

.content.design button.button{padding:8px 28px;margin:11px;border-radius:23px;background:#988c8c;}

.content.design button.button a{text-decoration:none;font-size:16px;color:#ffffff;text-transform:capitalize;}

/*End Header Section */
/*Start Blogging Section */
.blog_section{width:100%;height:100vh;background:#fff;}
.innner_blog{width:100%;display:flex;margin:22px;padding:22px;background:#fff;}

.columns{display:grid;overflow:hidden;}


.columns h1{padding:20px 21px;font-size:18px;}

.columns span {display:block;padding:12px 120px 14px 12px;text-align:left;margin:10px;width:65%;background:#ddd;
    border: 1px solid #ddd;}

.video {width:80%;}

.video img{width:65%;height:340px;overflow:hidden;background-size:cover;background-repeat:no-repeat;
	background-position:center center;background-attachment:fixed;margin:calc(40% / 3);}

/*End Blogging Section*/
/*Start About Section*/

.about_us_Section{min-height:100vh;display: flex;align-items: center;background-color:#ddd;justify-content:center;}

.about-section{background:url(image/4.jpg);background-repeat:no-repeat;background-position:left;
	background-size:55%;background-color:#dddd;overflow: hidden;padding:100px 0;}

.inner-container{max-width:55%;height:40%;color:#ddd;float: right;background-color:#123;padding:150px;
border-radius:4px;}

.inner-container h1{margin-bottom:30px;font-size:30px;font-weight:900;}

.inner-container p{color:#ddd;}

.text{font-size:13px;color:#545454;line-height:30px;text-align:justify;margin-bottom: 40px;}

.skills{display: flex;justify-content: space-between;font-weight: 700;font-size:13px;}


@media screen and (max-width:1200px){
	.inner-container{
		padding:80px;
	}
}

@media screen and (max-width:1000px){
	.about-section{
		background-size:100%;
		padding:100px 40px;
	}

	.inner-container{width:100%;}
}


@media screen and (max-width:1200px){
	.about-section{padding:0;}

	.inner-container{padding:60px;}

}
/*End About Section */
/*<!-- Start Bookish Section  -->*/
.bookish-section{width:100%;height:85vh;background:#fff;padding-bottom:30px;}

.inner_bookish{width:100%;max-width:1350px;padding:30px;}

 .inner_bookish img {width:30%;margin-left:calc(50% - 222px);padding:30px;}

.bookish_content{text-align:left;}

.bookish_content h2{color:#123;}

.bookish_content h3{color:#48dbfb;padding:10px 0px;}

.btn{padding:12px 23px;border-radius:23px;background:#988c8c;text-transform:uppercase;margin-top:20px;}

/*<!-- End Bookish Section  -->*/
/*Start Services Section */

.services_section{background:#123;font-family:cursive;color:#fff;width:100%;max-width:1350px;}

.service_Section{padding:50px 20px;}

.service_Section h1{text-align: center;padding:20px;position:relative;margin-bottom:20px;}

.service_Section h1::after {content: '';position:absolute;bottom:14px;left:45%;width:137px;height:2px;background: #ff2613;
    box-shadow: 21px 5px 0px #ef1515;}

.Service{max-width:1200px;margin:auto;flex-wrap:wrap;justify-content:center;align-items:center;display:flex;overflow:hidden;}

.bloks{width:23%;max-width:320px;box-sizing:border-box;padding:20px 10px;border:.4px solid #48dbfb;background:#123;color:#fff;
	text-align:left;margin:20px 10px;font-family:sans-serif;transition:all .8s linear;border-radius:5px;}

.bloks img{width:100%;}

.bloks:hover{background:#48dbfb;color:#123;font-weight:500;margin-bottom:+10px;transform:scale(.92);}

.bloks h2{text-align: center;margin:22px 0px;font-family:cursive;}

.bloks p{line-height:24px;}


@media (max-width:980px){
	.bloks{width:35%;}
	.service_Section h1::after{left:41%;}
}


@media (max-width:700px){
	.bloks{width:52%;}
		.service_Section h1::after{left:35%;}
}
/*End Services Section */


/*<!-- Start Newsletter Section -->*/
.Newsletter_Section {width: 100%;height:65vh;background: #1112;}

.Newsletter {max-width: 1031px;width: 85%;background: #1222;margin: 0px 113px;padding: 70px;text-align: center;
    display: inline-grid;}

.Newsletter h1 {margin-bottom: 30px;font-family: cursive;}

.Newsletter input[type="text"] {padding: 10px;margin: 10px;}


.Newsletter input[type="button"]{padding: 10px;margin: 10px;}
.Newsletter ul.social-media {display: flex;}

.Newsletter li {list-style: none;padding: 12px;justify-content: center;align-items: center;text-align: center;background: #fff;
    margin: 16px;border-radius: 9px;}

.Newsletter input[type="text"] {padding: 10px;margin: 10px;border: 1px solid #ddd;background: #fff;border-radius: 34px;}

.Newsletter input[type="button"] {padding: 11px 0px;box-sizing: border-box;display: block;border-radius: 23px;background: #1111113d;
border: 1px #123;width: 96%;margin: auto;}

.Newsletter ul.social-media {display: flex;justify-content: center;}

.Newsletter a {padding: 10px;}

/*<!-- End Newsletter Section -->*/
/*Start Contact Section Design*/
.contact_Section{width:100%;height:65vh;background:#1112;color:#fff;}

.inner_contact {max-width:400px;width:40%;padding:30px;background:#111111c2;margin:auto;}

.inner_contact h1.section_title{text-align: center;padding:20px;position:relative;margin-bottom:20px;}

.inner_contact h1.section_title::after {content: '';position:absolute;bottom:14px;left:34%;width:137px;height:2px;background: #ff2613;
    box-shadow: 21px 5px 0px #ef1515;}

 .contact-info b{color: red;}

 .footer{background:#111;width:100%;text-align: center;padding:20px;color: #fff;font-size:18px;}