/*$body-bg:#333;
$font-color:#fff;
$primary-color:#008ed6;
*/
body{
	background:#333;
	color: #fff;
}

html{scroll-behavior: smooth;}

.navbar{
	border-bottom:3px solid #008ed6;
	background:#292b2c;
	opacity:0.7;
}

.home_section {
	background:url(image/hasan.jpg);
	background-size:cover;
	min-height:700px;
	background-position:center top;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.dark-overlay{
	 	background:rgba(0,0,0,0.7);
	 	min-height:700px;
	 }

 .fa {
    color: #008ed6;
    padding: 4px;
    background: #fff;
    font-size:30px;
    border-radius:5px;
}

.card-form{
	opacity:0.8;
}

.home-inner{
	padding-top:150px;
	padding-bottom:50px;
}
/* start Explore section design */

#explore-head-section .fa{
    font-size:36px;
    background:#333;
    color:#fff;
    padding:4px;
    border-radius:5px;
}

#create-head-section .fa{
	font-size:30px;
	background:#48dbfb;
	color:#123;padding:4px;
	border-radius:50%;
}

@media(max-width:768px){
	#home-section h1{
		font-size:36px; 
	}
}