*{margin:0;padding:0;}

body{background-color: #DDD;box-sizing: border-box;}

html{scroll-behavior:smooth;}


/*section {padding:100px 0px;}*/

.header_Section{width:100%;max-width:1350px;height:85vh;background:#ddd;}

.menu_bar {position:fixed;background:#ddd;width:100%;z-index:999;margin-top:-37px;border-bottom:2px solid orange;}

.logo{padding-top:25px;font-size:34px;font-family:cursive;font-weight: 600;font-variant: petite-caps;display:inline-block;margin-left:30px;}

.menu{justify-content: space-between;align-items:center;flex-wrap: wrap;text-align: right;padding:30px 20px;display:inline-block;}

.menu ul li {list-style: none;text-decoration: none;display:inline-block;}

.menu ul li a{text-decoration: none;text-transform:uppercase;padding:10px;}

.header_banner{background:linear-gradient(#112233c7,#112233cf),url(image/2.jpg);
	background-size:cover;background-position:center;
	background-repeat:no-repeat;height:100vh;min-height:500px;
	margin-top:20px;position:relative;margin-top:33px;}

.header_banner h1{font-weight:600;font-size:55px;color:white;line-height:55px;
                   text-align: center;position:absolute;top:14%;left:30%;}

.header_banner h5{color:#fff;font-size:20px;position:absolute;top: 45%;left: 41%;}

.header_banner  button{padding:9px 15px;background:red;font-weight:600;font-family:serif;border:1px solid black;
                        position:absolute;top:54%;left:47%;}

/*<!-- End header section -->
<!-- Start portfolio section -->*/

.portfolio-section{width:100%;max-width:1200px;height:76vh;padding-top:130px !important;}

.portfolio-section h1{text-align: center;margin:10px 10px 30px 10px;position:relative;}

.portfolio-section h1::before{content:"";position:absolute;
width:80px;height:3px;bottom:-9px;left:calc(50% - 40px);
background:#111;}


.portfolio-section h1::after{content:"";position:absolute;
width:16px;height:11px;bottom:-16px;left:calc(50% - 12px);
border:4px solid #ddd;background-color:#272727;}


.blocks{display:flex;flex-wrap:wrap;text-align:center;justify-content:space-around;align-items:center;}

.sub_blocks{width:200px;height:250px;background:#fff;color:#111;margin:10px;
	transition:all .6s;}

.sub_blocks:hover,
.sub_blocks:nth-child(2){background:#48dbfb;border-left:1px solid orange;border-right:1px solid orange;}

.sub_blocks img{width:30px;height:30px;margin-top:20px;}

.sub_blocks h2{font-weight:600;font-family:sans-serif;font-size:18px;padding:10px;}

.sub_blocks span{padding:10px;margin-top:10px;}

.sub_blocks button {border:1px solid #123;padding:10px;margin-top:35px;background:#fff;
	border-radius:23px;color:#123;}

.sub_blocks button:hover{text-decoration:underline;background-color:#02c3ed;}

/*End portofolio section
Start team section*/

.team_section{justify-content: center;align-items: center;
min-height:100vh;display:flex;background-color: #f1f1f1;}

.about_Section{background:url(image/team.jpg);background-repeat:no-repeat;
background-position:left;background-size:55%;background-color:#fdfdfd;
overflow: hidden;padding: 100px 0;}

.inner-container{width:31%;float:right;background-color: #fdfdfd;
	padding:77px;position:relative;}

.inner-container h1{margin-bottom:30px;font-size:30px;font-weight:900;}


.text{font-size:13px;color:#545454;line-height:30px;
	text-align:justify;margin-bottom:40px;}

.plans{display: grid;justify-content: space-between;
	font-weight:700;font-size:17px;}



button.button {padding:10px;color:white;background:#48dbfb;
	border-radius: 4px;}


/*End team section
Start contact section*/

.contact_form h1{text-transform:uppercase;text-align: center;
	font-size:22px;position:relative;}

.contact_form h1::before{content:"";position:absolute;
width:80px;height:3px;bottom:-9px;left:calc(50% - 40px);
background:#111;}


.contact_form h1::after{content:"";position:absolute;
width:16px;height:11px;bottom:-16px;left:calc(50% - 12px);
border:4px solid #ddd;background-color:#272727;}


.border{width:100px;height:2px;background:#333;margin:2px auto;}

.contact-section h2{text-align: center;color:#ddd;}



.contact-form{max-width: 600px;margin:auto;padding: 0 10px;overflow: hidden;}

.contact-form-text{display: block;width:100%;box-sizing: border-box;margin:16px 0;
border:0;background:#111;padding:20px 40px;outline: none;color:#ddd;transition:0.5s;border-top-right-radius:14px;
border-top-left-radius:14px;}

.contact-form-text::placeholder{color:#ddd;}

.contact-form-text:focus{box-shadow: 0 0 7px 4px #34495e;}

textarea.contact-form-text{resize: none;height:120px;}

.contact-form-btn{float: right;border:0;background:#34495e;color:#fff;padding:12px 50px;
border-radius: 20px;cursor: pointer;transition: 0.5s;}

.contact-form-btn:hover{background:#2980b9;}

.contact_details{width:100%;height:2vh;position:relative;bottom:-101px;left:0%;padding:20px;
	background:linear-gradient(4deg, #48dbfb,#48dbfb);}


.contact_details span:nth-child(1){margin-left:100px;margin-right:40px;position:relative;}
.contact_details span:nth-child(1)::after{content:'';width:2px;height:31px;position:absolute;bottom:-31%;left:109%;
        background:#9C27B0; }

/*End Contact section*/
/*Responsive Design */

@media (max-width:768px){
	.portfolio-section{height:100%;}
}

@media screen and (max-width:1200px;){
	.inner-container{padding:80px;}

}


@media screen and (max-width:1000px){
	.about_Section{
		padding:0px;width:100%;}

   .inner-container{padding:60px;width:60%;}

   .inner-container h1{font-size:20px;margin-bottom:20px;}
   section{padding:20px 5px;}

}

@media screen and (max-width:680px){
	.about_Section{
		padding:0px;width:100%;}

   .inner-container{padding:60px;width:60%;}

   .inner-container h1{font-size:20px;margin-bottom:20px;}

   .contact_details{display:grid;padding-bottom:40px;}
   
   .sub_blocks img{display:none;}

   .menu {
    padding: 8px 20px;
    text-align: center;
    width: 100%;
}

.logo {
    padding-top: 12px;
    font-size: 34px;
    
    margin: auto;
    width: 100%;
    text-align: center;
}

}
