
html{scroll-behavior: smooth;}

*{
	margin:0;
	padding:0;

}

body{
	background-color: #f1f3f4;
	font-family: sans-serif;
}
 .hasanimage{width: 770px; height:250px;}


 .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;