*{margin:0;padding:0;border:0;}

body{font-family:arial;background-color:#d8dbdb;font-size:18px;max-width:800px;
	margin:0 auto;padding:2%;color:#565859;}

.wrapper{background:#f6faff;}

img{max-width:100%;}

header{width:98%;}

.logo{max-width: 220px;margin:2% 0 0 5%;float: left;}

.callout{float: right;margin:3% 3% 2% 0;position:relative;}

ul {display: inline-block;margin-top: 53px;margin-left:30px;}

li {list-style:none;display:inline;padding:10px 21px;border:1px solid;background:#123;border-radius:12px;margin:0px 10px;}

a{color: #f7f;text-decoration:none;}

.social{float: right;list-style: none;margin-top:8%;background:#123;border-radius:21px;padding:12px;}

.social{display: inline;padding:10px;}

.social  a{color:#fff;font-family:cursive;font-weight:600;margin:10px;}

.banner{margin-bottom:3%;}

.one-col{padding:2%;}

h1{letter-spacing: 1%;}

p{text-align: justify;}

.button-holder{float:right;margin:0 2% 4% 0;}

.btn{float: right;background:#111;color:#f6faff;text-decoration: none;font-weight:800;
	padding:9px 12px;border-radius:8px;letter-spacing:1px;}
.btn:hover{background:#58585a;}

.line{clear: both;height:2px;background-color: #e3e9e9;margin:4% auto;width:96%;}

.two-col{float: left;width:46%;padding:2%;}

.two-col h2{padding:10px 20px;}

.contact{text-align: center;padding-bottom: 3%;}


@media (max-width: 600px){
	.two-col{width: 97%;}
}



