/*$body-bg:#333;
$font-color:#fff;
$primary-color:#008ed6;
*/

body{
	margin-top:90px;
}


html{scroll-behavior: smooth;}

.navbar{
 
	box-shadow:2px 2px 5px #3292a6;
	background:#fff;
	opacity:0.9;
}

.nav-item{
	font-size:1.4rem;
   padding-right:20px;

}

.nav-item:last-child{
	padding-right:0;
}

.nav-link{
	color:#252525;
}

.nav-link:hover{
	color:#48dbfb;
}

 #home{background-image:top-right(#48dbfb,#48dbfb)}

.carousel-item img{width:100%;height:500px;background-size: cover;background-repeat:no-repeat;}

.card-body i{font-size:65px;}

section#get_started {
    background-image: linear-gradient(#000000ad,#00090a91),url(image/hasan.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center right;
    color: #fff;
}

#get_started img{width:50px;height:50px;}


#gallery img{width:200px;height:200px;}


/*About page*/
#about_Section{
	background-image:url(image/hasan.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding:75px 0px 75px 0px;
	background-color:#48dbfb;
	color:#fff;
}

#team{background-color:#123;}

#team i{font-size:20px;}

#Testimonial{background-color:#111;}

#pricing_section i{font-size:13px;padding:5px;}

#service_section{
	background:#122;
	padding:50px 0px 80px 0px;
}

#faq{
	background-color:#111;
	padding:30px 0px 50px 0px;
}