body{margin:0;padding:0;}


html{scroll-behavior:smooth;}

ul{list-style:none;}

a {
    text-decoration: none;
    font-size: 22px;
    font-family: monospace;}

h1 {
    color: orange;
}
/*Start Mobile Menu Design*/

.clearfix::after{content:"";height:0;width:0;clear:both;display:table;visibility:hidden;}

/* BUTTON */

.btn:link,
.btn:visited,
.btn{background: #333;border-bottom:.3rem solid #000;color:#fff;text-decoration:none;text-transform:uppercase;
   padding:1.5rem 6rem;border-radius:0.3rem;display: inline-block;margin-top: 1rem;}

/* Main Navigation */

.main-nav {float: right;position: fixed;background: #111;padding: 20px;width: 100%;z-index:999;margin-top:0px;}

.main-nav li {display: inline-block;margin-left:1rem;}
.main-nav li:first-child{margin-left: 0;background:#643a79;border-radius:.5rem;}

.main-nav li a:link,
.main-nav li a:visited{color:#fff;text-decoration: none;text-transform:uppercase;padding:.4rem 1.6rem;display: inline-block;
   font-size:1.6rem;transition:.5s}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{background:#643a79;border-radius:.4rem;}

/*.main-nav li.active a {background:#643a79;border-radius:.5rem;}*/
.hero-text-box{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);text-align: center;}
.btn-hero:link,
.btn-hero:visited{background:#eb7d4b;border-color:#c86a40;}
/*STICKY MAVIGATION */

.sticky{position:fixed;top:0;left:0;width:100%;background:#643a79;padding:1rem 0;
         box-shadow:0 .2rem .5rem rgba(255,255,255, .9);z-index:9999;}
.sticky .logo{margin-top:0;}
.sticky .main-nav{margin-top: .5rem;}

/*Mobile Menu*/
.mobile_menu span{color:#fff;font-size:4rem;float:right;margin-top:3.6rem;display:none;}

.mobile_menu span:hover{cursor:pointer;}

.overlay{width:0;height:100%;position:fixed;top:0;left:0;
   background:rgba(0,0,0,0.9);z-index:1;overflow-x:hidden;transition:.5s;}

.overlay_content{position:relative;top:10%;width:100%;text-align:center;}

.overlay a{text-decoration:none;display:block;font-size:3rem;text-transform:uppercase;letter-spacing:3px;color:#999;
   padding:1rem 0;}

.overlay a:hover{color:#fff;}


.closebtn{position:absolute;top:2.5rem;right:4.5rem;font-size:6rem;}

.sticky .mobile_menu span{margin-top:1.7rem;line-height:1rem;}

/*start Go top button design*/

.button_Go_up{position:relative;}

i.fa.fa-arrow-up {
    font-size: 40px;
    background: #48fbfb;
    padding: 20px;
    margin: 12px;
    position: absolute;
    right: 0;
    border: 0;
}

.mobile_menu_section{background: url(image/8.jpg);background-size: cover;background-repeat: no-repeat;
background-position: center center;height:100vh;transition: all .5s;-z-index:999;}
/*End Mobile Menu Design*/


h2.section_title {
    text-align: center;
    font-size: 27px;
}

a.section_all {
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
    font-size: 17px;
}
/*Start Featured Product Section*/
.feature_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featured_product {
    width: 100%;
    max-width:250px;
    box-sizing: border-box;
    margin: 20px;
    position:relative;
    background: #9E9E9E;
    padding-bottom: 12px;
}

.featured_product:hover{transform:translate(-12px;); }

img.featured_img {
    width: 100%;
    height: 100%;
}

.featured_new {
    position: absolute;
    top: 0;
    left: 0;
    background: #48dbfb;
    padding: .4rem .80rem;
    font-size: larger;
    font-weight: 700;border-bottom-right-radius:8px;
}

.featured_data {
    text-align: center;
}

h3.featured_name {
    background: #fe003f;
    padding: .4rem;
}

span.featured_preci {
    font-size: 34px;
    font-weight: 700;
}
/*End Featured products Section*/
/*Start recent products section*/
img.new_img {
    width: 100%;
    height:260px;opacity:0.7;
}

.new_img:hover{opacity:1;}

.new_box{position:relative;display:flex;justify-content:center;background-color:var(--gray-color);overflow:hidden;}


.product{text-align:center;padding-bottom:20px;}

.new_link {
    margin:15px 0px;background:#48dbfb;padding:12px;
}

.new_link:hover a{text-decoration:underline;}

a.button {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: #48dbfb;
    padding: 12px 20px;
}
/*End Recent products section*/
/*Start Newsletter Section*/
.newsletter_container {
    margin: 50px;
}

p.newsletter_description {
    text-align: center;
    font-size: 18px;
}

p.newsletter_description {}

input.newsletter_input {
    padding: 12px 200px;border:2px solid #48fbfb;border-radius:5px;
    margin-right: 20px;
}

input.newsletter_input::focus{border:2px solid orange;}

form.newsletter_form {
    margin: auto;
    max-width: 1200px;
    margin-left: 300px;
}
/*End Newsletter Section*/
/*Start Service Section*/
.sectionBlock{background:#9e9e9e;padding-bottom:30px;}
.header{text-align: center;color: white;padding:10px;margin:30px;font-size:23px;position:relative;font-family:cursive;}
.header span {color: red;text-shadow:9px;}

.header::after{content:'';width:121px;height:3px;margin:auto;background:orange;position:absolute;left:calc(50% - 55px);bottom:0;}

.header::before{content:'';width:11px;height:10px;margin:auto;position:absolute;background:#48dbfbc3;left: calc(50% - 5px);
bottom:-5px;z-index:900;border: 2px solid #fff;}

.inner_Section{max-width:1300px;margin:auto;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;}

.Blocks{flex:25%;max-width:350px;box-sizing:border-box;margin:10px;background-color:#ddd;color:#123;padding:20px 30px;
    border-radius:15px;border:1px solid #48dbfbc3;transition:.6s linear;}

.Blocks:hover{background-color:#48dbfbc3;margin-top:-12px;color:#fff;}

.RightContent h1 {color:black;text-transform:uppercase;font-weight:700;}

.leftIcon i{font-weight:600;font-size:55px;}

.creator{text-align: center;color: white;text-shadow: 30px;font-size: 43px;padding-bottom: 25px;}
/*End Services Section*/
/* Start footer section*/

.footer.section {
    background: #606060;
}
footer.footer_section {
    background: #606060;
}
img.footer {
    width: 400px;
    height:280px;
}

p.footer_deal {
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

h3.footer_deal {
    text-align: center;
    font-size: 23px;
    color: #a7dfff;
}

.footer_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer_box {flex: 33.33%;width: 400px;box-sizing: border-box;}


.footer_box:nth-child(1){flex:100%;margin:0 15%;}


h3.footer_title {
    color: #fff;margin-left:40px;
}

a.footer_link {
    color: #101010b8;
    text-align: center;
}

p.footer_copy {
    text-align: center;
    color: #121212;padding-bottom: 20px;
}

i.fa {
    padding: 10px 10px;
    color: #48dbfb;
    background: #20232c;
}
/*Start News Letter Section */

/*End News Letter Section*/

/*Responsive Design Codde*/

@media(max-width:768px){
    .footer_box{flex:100%;overflow:hidden;}


    h3.footer_deal{margin-left:-90px;}

    form.newsletter_form {margin-left: -40px;}

    input.newsletter_input {padding: 12px 100px;margin-right: 20px;margin-bottom: 30px;}

    .Blocks{flex:100%;margin:22px 0;}
}


@media(max-width:1200px){

      form.newsletter_form {margin-left:40px;}

    input.newsletter_input {padding: 12px 150px;margin-right: 20px;margin-bottom: 30px;}


  
   .mobile_menu span{display:block;position: fixed;}

   .main-nav{display:none;}

}

@media(max-width:1080px){

      form.newsletter_form {margin-left:40px;}

    input.newsletter_input {padding: 12px 150px;margin-right: 20px;margin-bottom: 30px;}

}



@media(max-width:980px){

      form.newsletter_form {margin-left: -40px;}

    input.newsletter_input {padding: 12px 100px;margin-right: 20px;margin-bottom: 30px;}

}